version: '3.8'

services:
  postgres:
    image: postgres:14-alpine
    container_name: postgres_db
    restart: unless-stopped
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - .data/postgres_data:/var/lib/postgresql/data
      - .data/init-scripts:/docker-entrypoint-initdb.d
    networks:
      - postgres-network

networks:
  postgres-network:
    driver: bridge